.navbar {
  background-color: #DB4C3F;
}

#footer {
  background-color: #F4EEE9;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
   margin-top: 25px;
}

.home-create-tasks-img {
  align-content: center;
  height: 100%;
  width: auto;
  background-color: rebeccapurple;
}

html,
body {
  height: 100%;
}